<h1>食品一覧</h1>

<%= link_to '新規保存', new_food_path %>

<% @foods.each do |food| %>
    <%= link_to food_path(food.id) do %>
        <% if @food_expiration == @today %>
            <%= attachment_image_tag food, :image, format: 'jpeg', size: "100x100", class:'change-background' %>
        <% else %>
            <%= attachment_image_tag food, :image, format: 'jpeg', size: "100x100" %>
        <% end %>
    <% end %>
    
    <%= food.title %>
    <%= food.expiration %>
<% end %>